* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .confirmPassword-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .reset {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .confirmPassword-container .reset h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #101828;
    margin-bottom: 0.5rem;
  }
  
  .star {
    color: crimson;
  }
  
  .span-text {
    color: #101828;
    font-weight: 500;
  }
  
  .password-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  
  .input-container input[type="password"]::placeholder {
      font-size: 2rem;
      color: #888;
      text-align: start;
      transform: translateY(-10%);
  } 
  
  .btn-big {
    background-color: #088ab2;
    color: #fff !important;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15rem;
  }
  